/* обнулення */
*,*:before,*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/* стилі для демонстраії */
html,body {
    height: 100%;
    background-color: #333;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    font-size: 25px;
}
.wrapper {
    height: 100%;
    padding: 50px;
}
/* основні стилі */

/* Слайдер */
/* .slick-slider{} */
/* Слайдер запущений */
/* .slick-slider.slick-initialized{} */
/* Слайдер з точками */
/* .slick-slider.slick-dotted{} */
/* границя */
/* Слайд */
/* .slick-slide{} */
/* Слайд активний (показується) */
/* .slick-slide.slick-active{} */
/* Слайд основний */
/* .slick-slide.slick-current{} */
/* Слайд по центру */
/* .slick-slide.slick-center{} */
/* Стрілка */
/* .slick-arrow{} */

/* Стрілка вправо */
/* .slick-arrow.slick-next{} */
/* Стрілка не активна */
/* .slick-arrow.slick-disabled{} */

/* Активна точка */
/* .slick-dots li.slick-active{} */
/* Елемент точки */
/* .slick-dots li button{} */

.slick-list {
    overflow: hidden;
}
/* Лента слайдів */
.slick-track{
    display: flex;
    /* притисне наші слайди до верху */
    align-items: flex-start;
}
/* конкретний слайдер */
.slider {
    position: relative;
    padding: 0px 50px;
}
.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px; 
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 40px;
}
/* Стрілка вліво */
.slider .slick-arrow.slick-prev{
    left: 0;
    background: url('/img/left.png') 0 0 / 100% no-repeat;
}
/* Стрелка вправо */
.slider .slick-arrow.slick-next{
    right: 0;
    background: url('/img/right-arrow-icon.png') 0 0 / 100% no-repeat;
}
/* відключаємо кнопочку, коли перемотка закінчилася */
.slider .slick-arrow.slick-disabled{
    opacity: 0,2;
}
/* Точки (буліти) */
.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots li{
    list-style: none;
    /* відстань між точками */
    margin: 0px 5px; 
}
/* робимо точки без надпису, білі та круглі+ширина та висота */
.slider .slick-dots button{
    font-size: 0;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
}
/* робимо активну точку прозорою */
.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #fff;
}
/* вирівнюємо всі стилі */
 .slider__item {
    /* плавний ефект переходу */ 
    transition: all 0.3 ease 0s; 
    /* забираємо прозорість слайдів */
    opacity: 0.4;
    text-align: center; 
    height: 225px; 
} 
/* першому слайду забираємо прозорість */ 
 .slider__item.slick-center {
    opacity: 1;
}


